:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --font-family: "Raleway", sans-serif;
  --primary-color: dodgerblue;
  --secondary-color: #ffffff;
}

body {
  background:
    url("/Assets/Rectangle 2206.png") center/cover no-repeat;
  font-family: var(--font-family);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 90%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.08);
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  color: #fff;
  margin-bottom: 0.3rem;
  font-size: 14px;
}

.form-input {
  position: relative;
  display: flex;
  flex-direction: column;
  
}

input {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}


.password-input-wrapper{
position: relative;

}
.password-input-wrapper .input-password{
  width: 100%;
  box-sizing: border-box;
  padding-right: 40px;
  display: block;
  gap: 1rem;

}

#fa-eye, #fa-eye-slash {
  position: absolute;
  right: 12px;
  top: 50%;
  transform:  translateY(-50%);
  cursor: pointer;
  font-size: 1.1rem;
  color: #666;
  transition: all 0.2s ease, transform 0.2s ease;
}
.forgotten-password{
  align-self: flex-end;
  color: #fff;

}
.forgotten-password span{
  align-self: flex-end;
  color: #fff;
}
  


.btn button {
  width: 100%;
  padding: 10px 15px;
  background-color: #fc2469;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.account a {
  color: #fff;
}
.account span {
  color: #fc2469;
}
.divider {
  color: #fff;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons > i {
  border-radius: 6px;
  padding: 10px 40px;
  background-color: #484848;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #aaa; /* Text color */
  font-size: 14px;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #555; /* Line color */
  margin: 0 10px; /* Space around the text */
}