:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --font-family: "Raleway", sans-serif;
  --primary-color: ;
  --secondary-color: #ffffff;
  --container-width: 1300px;
}

.header-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  position: sticky;
}
.logo {
  width: 12px;
  height: 12px;
}
.nav-lists {
  display: flex;
  gap: 1rem;
}
.menu-bar {
  display: none;
  font-size: 1.7rem;
  cursor: pointer;
}
/* hero */

/* Terms Container */
.terms-container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.terms-content {
  padding: 60px 80px;
}

.date {
  text-align: center;
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

p {
  margin-bottom: 20px;
  color: #444;
  font-size: 0.95rem;
}
/* contact */

/* Contact Prompt Section */
.contact-prompt {
  background-color: #fff;
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
border-top-left-radius: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 60px;
border-bottom-left-radius: 4px;

}


.contact-prompt h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #000;
  font-family: Rufina;
    font-weight: 700;
}

.contact-prompt p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
   font-family: Raleway;
    font-weight: 500;
}

.contact-prompt button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;

}



/* Footer Section */
.footer {
  background-color: #eaeaea;
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-left {
  flex: 1 1 45%;
}

.footer-left h3 {
  font-weight: 700;
  margin-bottom: 15px;
  color: #000;
   font-family: Rufina;
  font-weight: 700;
}

.footer-left p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 500;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-links a {
  color: #666;
  text-decoration: none;
  font-size: 0.9rem;
}


/* Right Side */
.footer-right {
  flex: 1 1 35%;
}

.footer-right h4 {
  margin-bottom: 10px;
  color: #000;
}

.footer-right p {
  color: #666;
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icons a {
  color: #666;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icons a:hover {
  color: var(--primary-color);
}

/* Bottom Text */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 0.85rem;
  color: #777;
}


@media (max-width: 768px) {
  .menu-bar{
    display: none;
  }
  .terms-container{
    text-align: center;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
  }


}
