:root{
  --bg-color :#ffffff;
  --text-color :#000000;
  --font-family: "Raleway", sans-serif;
  --primary-color: ;
  --secondary-color:#ffffff


   --container-width:1300px
  }


.header-contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  position: sticky;

}
.logo{
  width: 12px;
  height: 12px;
}
.nav-lists{
  display: flex;
  gap: 1rem;
}
.menu-bar{
  display: none;
  font-size: 1.7rem;
  cursor: pointer;
}
/* hero-section */
.hero-section{
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: lightgray;
  height: 500px;
  

}

.title {
font-family: Rufina;
font-weight: 700;
font-style: Bold;
font-size: 26px;
letter-spacing: -1px;
text-align: center;
color: #ffffff;



}
.text-para {
font-family: Raleway;
font-weight: 500;
font-style: Medium;
font-size: 24.89px;
text-align: center;
color: #fff;


}

.form{
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 100px;


}
.filter{
  height: 80px;
  border-radius: 10px;

  gap: 20px;

}
.search{
display: flex;
align-items: center;
gap: 1rem;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
background-color: #ffffff;
padding: 15px;
border-radius: 10px;
}
select{
  outline: none;
  border: none;
  padding: 10px 10px 10px 10px;
}
.date{
  border-left: 1px solid gray;

}
.guest{
border-left: 1px solid gray;
}
.price{
  border-left: 1px solid gray;
}
.search-btn{
  color: white;
  background-color: #5B656F;
  border-top-right-radius:10px;
  border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 50px 10px 50px;
} 
.add-filter{
  justify-self: start;
  color: #F5E9D6;
  border-radius: 10px;
}
/* card-container */
.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.property-card{
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.img-container{
  position: relative;
}
.tag{
  border-bottom: 4px solid #918675;
  position: absolute;
  top: 8px;
  left: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
background-color: #F5E9D6;
color: #000000;
border-bottom-right-radius: 10px;
padding: 9px;
}
.title-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-contents{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.location{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.dot{
  background-color: #000000;
  width:5px;
  height: 5px;
  border-radius: 100px;
}
.property-capacity{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* footer */

/* footer section */

.footer-bg {
  background: url("/Assets/Rectangle\ 124.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 835px;
  position: relative;
}
.footer-contact {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  bottom: -100px;
  left: 55px;
}
.footer-contact-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #181d24;
  color: white;
  padding: 80px;
  border-top-left-radius: 8px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.footer-contact-left-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-info > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact-info > div > p {
  font-weight: 500;
  font-size: 16px;
}
.contact-info-address > p {
  width: 150px;
}
.footer-contact-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffffff;
  color: black;
  padding: 80px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 80px;
}
.footer-contact-right > p {
  font-weight: 700;
  font-size: 52px;
}
.footer-contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.name-email {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.name-email > input {
  width: 100%;
  border: none;
  padding: 10px 200px 0px 0px;
  outline: none;
  border-bottom: 1px solid #181d24;
}
.footer-contact-form > textarea {
  width: 100%;
  border: none;
  padding: 10px 0px 10px 0px;
  outline: none;
  border-bottom: 1px solid #181d24;
}
.footer-contact-form-btn {
  border: none;
  background-color: #5b656f;
  color: #ffffff;
  padding: 12px 20px 12px 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
footer {
  background-color: #dfe3e7;
  /* height: 100vh; */
  padding: 140px 0;
}

@media only screen and (max-width: 1024px) {
  .footer-contact {
    left: 0px;
  }
  .footer-contact-left {
    padding: 80px 20px 80px 20px;
  }
  .footer-contact-right {
    padding: 80px 20px 80px 20px;
  }
}
@media only screen and (max-width: 768px) {
 
  .header-nav {
    display: none;
  }
  .menu-bar {
    display: block;
    font-size: 1rem;
  }

  /* Hero */
  .hero-section {
    height: 450px;
    padding: 20px;
  }
  .filter {
    display: none;
  }
  .title {
    font-size: 20px;
  }
  .text-para {
    font-size: 20px;
  }

  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }


}
@media only screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }
  .footer-contact {
    bottom: -150px;
    flex-direction: column;
  }
  .footer-contact-left {
    padding: 40px 20px 20px 20px;
  }
  .footer-contact-right {
    padding: 40px 20px 20px 20px;
  }
  .name-email{
    flex-direction: column;
  }
}






